{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
 

{%block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{%endblock%}

{%block content%}
    
<div class="container">

    <div class="container-interface">
        <h1 class="title">Interface : ADB Install DO </h1>
        {%for message in get_flashed_messages()%}
            <div class = "alert alert-danger alert-dismissible">
                <button type = "button" data-dismiss = "alert" class = "close">&times;</button>
                {{message}}
            </div>
        {%endfor%}  
    
        
            <div class="container-buttons">
                <form action="/" method="post">
                    <p>DO Set up</p>
                    <button type="submit" class="primary-button apk"></button>
                </form>
                
                <form action="/search" method="post">

                    <p>Scan Network</p>
                    <button type="submit" class="primary-button search"></button>
                </form>
                <form action="/connect" method="post">

                    <p>Connect to ADB</p>
                    <button type="submit" class="primary-button connect"></button>  
                </form>

            </div>                 
        
        <div class="container-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Devices on network</th>
                        <th>ADB</th>
                        <th>TV Agent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs.values() %}
                    <tr>
                        <td>{{log.get('network_ip')}}</td>
                        <td>{{log.get('adb')}}</td>
                        <td>{{log.get('tv')}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class = "arrow">
            <a href = "{{ url_for('ipregister') }}"><img src="../static/images/felchita.svg" alt="arrow"></a>

        </div>
    </div>    
</div>

  
    {%block scripts%}
        {{super()}}
    {%endblock%}
{%endblock%}